<div class="col-md-4">
  <h2> My todo list</h2>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Action</th>
      <th>Description</th>
      
    </tr>
  </thead>
    <tbody>
      
      <tr *ngFor="let todo of todos">
          <td><button  type='button'(click)="deleteTodo(todo.id)"  > X </button></td>
          <td> {{todo.description}}</td>
        </tr>
    </tbody>
  </table>
  </div>
<form >
  <div>
    <label >What should I do? </label>
    <input type="text" #description />
     <button type='button' (click)="addTodo(description)">Confirm</button>
    </div>
</form>



